.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

#ignore our settings
subgen.env

models/

# Python cache
__pycache__/
*.pyc

# pytest cache
.pytest_cache/

# ruff cache
.ruff_cache/